<ion-header>
  <ion-toolbar>
    <ion-title>Agenda</ion-title>
    <ion-icon slot='end' name='add-outline' id='plus-button' color='primary' (click)='create()'></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id='ion-body'>
    <ion-button expand='block' color='secondary' fill='outline' (click)='create()'>
      <ion-icon slot='start' name='person-add-outline'></ion-icon>
      Adicionar Contato
    </ion-button>
    <ion-list>
      <ion-item *ngFor='let pessoa of pessoas' (click)='open(pessoa)'>
        <ion-label>
          {{pessoa.nome + ' ' + pessoa.sobrenome}}
          <h3>{{pessoa.email}}</h3>
          <h3>{{pessoa.nascimento | date: 'dd/MM/yyyy'}}</h3>
        </ion-label>
        <ion-icon slot='end' name='chevron-forward'></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
