ion-item{
  cursor: pointer;
}

ion-button{
  margin: 0 15px;
}

ion-list{
  border-radius: 5px;
  margin: 15px;
}

ion-list-header{
  font-size: 20px; 
  color: #3dc2ff;
}

ion-toolbar{
  padding-right: 25px;
  padding-left: 15px;
}

h3{
  margin-left: 10px;
  margin-top: 5px;
}

ion-buttons{
  color: #3dc2ff;
}

#ion-body{
  padding: 10px;
  margin-top: 10px;
}

#plus-button{
  cursor: pointer;
  height: 20px;
}