<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Contato</ion-title>
    <ion-buttons slot='end' (click)='goHome()'>
      <ion-icon id='home-button' slot='end' name='home-outline'></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form (ngSubmit)='postPerson()'>
    <div class='ion-body'>
      <ion-list>
        <ion-list-header>
          <ion-label>Pessoa</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label position='stacked'>Nome</ion-label>
          <ion-input [(ngModel)]='person.nome' name='name'></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position='stacked'>Sobrenome</ion-label>
          <ion-input [(ngModel)]='person.sobrenome' name='surname'></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position='stacked'>Data de Nascimento</ion-label>
          <ion-input [brmasker]='{mask: "00/00/0000"}' [(ngModel)]='person.nascimento' name='birth' maxlength='10'></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position='stacked'>Email</ion-label>
          <ion-input type='email' [(ngModel)]='person.email' name='email'></ion-input>
        </ion-item>
      </ion-list>
    </div>
  
    <div class="ion-body">
      <ion-list>
        <ion-list-header class='header-click' (click)='createPhone()'>
          <ion-label>Telefones</ion-label>
          <ion-button><ion-icon slot='icon-only' name='add-outline'></ion-icon></ion-button>
        </ion-list-header>
        <ion-item *ngFor='let phone of phones' (click)='openPhone(phone)'>
          <ion-label>{{phone.numero}}</ion-label>
          <ion-icon slot='end' name='chevron-forward'></ion-icon>
        </ion-item>
      </ion-list>
    </div>
  
    <div class="ion-body">
      <ion-list>
        <ion-list-header class='header-click' (click)='createAddress()'>
          <ion-label>Endereços</ion-label>
          <ion-button><ion-icon slot='icon-only' name='add-outline'></ion-icon></ion-button>
        </ion-list-header>
        <ion-item *ngFor='let address of addresses' (click)='openAddress(address)'>
          <ion-label>{{address.logradouro}}, {{address.numero}} - {{address.bairro}}</ion-label>
          <ion-icon slot='end' name='chevron-forward'></ion-icon>
        </ion-item>
      </ion-list>
    </div>

    <div class='ion-body'>
      <ion-button expand='block' color='secondary' type='submit' fill='outline'>{{button}}</ion-button>
      <ion-button expand='block' color='danger' [hidden]=show fill='outline' id="delete-button" (click)='confirmDel(person.id)'>
        <ion-icon slot='start' name='trash-outline'></ion-icon>
        Apagar
      </ion-button>
    </div>
  </form>
</ion-content>
