<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form (ngSubmit)='postPerson()'>
    <div class='ion-body'>
      <ion-list>
        <ion-list-header>
          <ion-label>Pessoa</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label position='floating'>Nome</ion-label>
          <ion-input [(ngModel)]='person.name' name='name'></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position='floating'>Sobrenome</ion-label>
          <ion-input [(ngModel)]='person.surname' name='surname'></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position='floating'>Data de Nascimento</ion-label>
          <ion-input [brmasker]='{mask: "00/00/0000"}' [(ngModel)]='person.birth' name='birth' maxlength='10'></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position='floating'>Email</ion-label>
          <ion-input type='email' [(ngModel)]='person.email' name='email'></ion-input>
        </ion-item>
      </ion-list>
    </div>
  
    <div class="ion-body">
      <ion-list>
        <ion-list-header>
          <ion-label>Telefones</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label position='floating'>Telefone</ion-label>
          <ion-input [brmasker]="{mask: '(00) 00000-0000'}" [(ngModel)]='phone' name='phone' maxlength='15'></ion-input>
          <ion-icon slot='end' name='add-outline' (click)='addPhone()'></ion-icon>
        </ion-item>
      </ion-list>
    </div>
  
    <div class="ion-body">
      <ion-list>
        <ion-list-header>
          <ion-label>Endereços</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label position='floating'>Endereço</ion-label>
          <ion-input [(ngModel)]='address' name='address'></ion-input>
          <ion-icon slot='end' name='add-outline' (click)='addAddress()'></ion-icon>
        </ion-item>
      </ion-list>
    </div>

    <ion-button expand='block' color='secondary' type='submit' fill='outline'>Cadastrar</ion-button>
  </form>
</ion-content>
